@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  font-family: Outfit;
  padding: 0px;
  margin: 0px;
  background-color: #f8f9d7;
  box-sizing: border-box;
}
.app {
  width: 80%;
  margin: auto;
  background-color: #f8f9d7;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  width: 100%;
  margin: auto;
}
