/* Add this at the top of your CSS file to reset default margin and padding */
body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 20px;
  margin-right: 350px;
  margin-top: 10px;
}
.navbar .active {
  padding-top: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar li {
  margin-left: 80px;
  cursor: pointer;
  font-size: 100%;
  font-weight: 600;
}

.logo {
  width: 150px;
}
.navbar-search-icon {
  position: relative;
}
.name {
  padding-left: 50px;
  color: #49557e;
  font-weight: 700;
  font-size: 100%;
}
